.main1{
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding: 0 1rem;
}
.main{
    padding: 0.5rem 2rem;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: fit-content;
    /* margin: auto; */
}
.main1>h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.main1>a,.main3>a{
    font-size: 1rem;
    font-weight: 500;
    color: #00b5b7;
}
.main2{
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;flex-direction: column;
    gap: 1rem;
}